@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
