<nav class="flex items-center py-10 bg-cyan-700 shadow-2xl">
  <div class="flex nav-items w-1/2 justify-start m-3 xs:ml-20">
    <span class="text-gray-200 text-xl xs:text-3xl flex items-center">
      <ng-container *ngIf="isLoggedIn" class="w-1/2">
        Welcome {{ user }}!
      </ng-container>
      <ng-container *ngIf="!isLoggedIn" class="w-1/2">
        Marketing Scheduler!
      </ng-container>
    </span>
  </div>

  <div class="flex nav-items w-1/2 justify-end">
    <ng-container *ngIf="!isLoggedIn">
      <span
        routerLink="/login"
        class="text-xl cursor-pointer text-gray-200 font-medium m-3 hover:underline hover:text-indigo-200"
        >Login</span
      >
      <span
        routerLink="/register"
        class="text-xl cursor-pointer text-gray-200 font-medium m-3 hover:underline hover:text-indigo-200"
        >Register</span
      >
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <span
        routerLink="/login"
        (click)="logout()"
        class="text-xl cursor-pointer text-gray-200 font-medium m-3 lg:mr-36 hover:underline hover:text-indigo-200"
        >Logout</span
      >
    </ng-container>
  </div>
</nav>
