<nav
  class="w-full flex justify-between items-center a p-5 bg-violet-500 shadow-2xl"
>
  <div class="logo">
    <span class="text-gray-200 text-3xl flex justify-start items-center"
      >Welcome {{ user }}!</span
    >
  </div>

  <div class="nav-items">
    <ng-container *ngIf="!isLoggedIn">
      <span
        routerLink="/login"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200"
        >Login</span
      >
      <span
        routerLink="/register"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200"
        >Register</span
      >
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <span
        routerLink="/login"
        (click)="logout()"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200"
        >Logout</span
      >
    </ng-container>
  </div>
</nav>
