<button
  (click)="getAllUsers()"
  class="border-2 border-black rounded-xl p-3"
  label="Users"
>
  Show Users
</button>
<table>
  <tr>
    <th>ID</th>
    <th>Company</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

  <ng-container *ngFor="let user of users">
    <tr>
      <td>
        {{ user.id }}
      </td>
      <td>
        {{ user.company }}
      </td>
      <td>
        {{ user.firstName }}
      </td>
      <td>
        {{ user.lastName }}
      </td>
      <td>
        {{ user.login }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.phone }}
      </td>

      <img
        (click)="(user.id)"
        class="delete-icon"
        src="../assets/images/delete-icon.svg"
      />
    </tr>
  </ng-container>
</table>
