<div *ngIf="isLoggedIn">
  <!-- CREATE BUTTON-->

  <div class="mt-10 ml-20 lg:ml-32">
    <h1
      class="text-2xl font-bold leading-none tracking-tight text-gray-900 dark:text-white mb-2 mt-10"
    >
      Create a new campaign
    </h1>
    <button
      class="{{ color }} p-2 rounded  text-white mb-20"
      (click)="showCreate()"
    >
      {{ text }}
    </button>
  </div>

  <!-- Create new campaign -->
  <app-create-campaign *ngIf="showAddCampaign"></app-create-campaign>

  <!-- CAMPAIGNS -->

  <app-campaigns></app-campaigns>

  <!-- LEGENDS -->

  <div class="flex flex-col mb-10 ml-2 mr-0 lg:mx-32">
    <div class="flex">
      <i class="pi pi-circle" style="color: red; font-size: 1.5rem"> </i>
      <p class="ml-12">Marketing agency hasn't done the campaign yet</p>
    </div>
    <div class="flex">
      <i class="pi pi-check-circle" style="color: green; font-size: 1.5rem"></i>
      <p class="ml-12">Marketing agency has done the campaign</p>
    </div>
    <div class="flex">
      <i class="pi pi-delete-left" style="color: red; font-size: 1.5rem"></i>
      <p class="ml-12">
        Delete campaign. You can only delete campaigns that aren't done
      </p>
    </div>
  </div>

  <div *ngIf="isAdmin">
    <app-users></app-users>
  </div>
</div>
