<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
  <h3>Add new campaign</h3>
  <h4>General Information</h4>
  <div class="input-company">
    <div class="inputFreeCompany">
      <label for="text">Company name</label>
      <input
        type="text"
        name="inputCompany"
        [(ngModel)]="inputCompany"
        id="inputCompany"
        placeholder="e.g. Pekka's Company"
        pInputText
        pTooltip="Enter your Company's name"
      />
    </div>
    <div class="inputCompanyRadio">
      <label for="text">{{ auth.getLogin()?.company }}</label>
      <p-radioButton
        name="inputCompanyRadio"
        value="{{ auth.getLogin()?.company }}"
        [(ngModel)]="inputCompany"
        inputId="inputCompanyRadio"
      ></p-radioButton>
    </div>
  </div>
  <div class="input-name">
    <label for="text">Name of the campaign</label>
    <input
      type="text"
      name="inputName"
      [(ngModel)]="inputName"
      id="inputName"
      placeholder="e.g. Winter Campaign 2023"
    />
  </div>

  <div class="budget-date">
    <div class="input-budget">
      <label for="inputBudget">Budget (€)</label>
      <input
        type="number"
        name="inputBudget"
        [(ngModel)]="inputBudget"
        id="inputBudget"
        placeholder="e.g. 500"
      />
    </div>
    <div class="input-start">
      <label for="inputStart">Start</label>
      <input
        type="date"
        name="inputStart"
        [(ngModel)]="inputStart"
        id="inputStart"
      />
    </div>
    <div class="input-end">
      <label for="inputEnd">End</label>
      <input type="date" name="inputEnd" [(ngModel)]="inputEnd" id="inputEnd" />
    </div>
  </div>
  <h4>Demographic Information</h4>
  <div class="input-adTarget">
    <div>
      <label for="inputAdTarget">Target Age</label>
      <input
        type="text"
        name="inputAdTarget"
        [(ngModel)]="inputAdTarget"
        id="inputAdTarget"
        placeholder="e.g. All ages, only males"
      />
    </div>
    <div class="adGender">
      <label for="adGender">Target Gender</label>
      <p-dropdown
        [options]="genders"
        name="adGender"
        [(ngModel)]="targetGender"
        optionLabel="name"
        [showClear]="true"
        placeholder="Select gender"
        >Gender</p-dropdown
      >
    </div>
    <div class="input-adArea">
      <label for="inputAdArea">Target Area</label>
      <input
        type="text"
        name="inputAdArea"
        [(ngModel)]="inputAdArea"
        id="inputAdArea"
        placeholder="e.g. Central Munchen Area"
      />
    </div>
  </div>
  <h4>Campaign Information</h4>
  <div class="input-adTitle">
    <label for="title">Title for the Campaign</label>
    <input
      type="text"
      name="inputAdTitle"
      [(ngModel)]="inputAdTitle"
      id="inputAdTitle"
      placeholder="e.g. 50% off Winter tyres!"
    />
  </div>
  <div class="input-adText">
    <label for="inputAdText">Copytext for the Campaign</label>
    <textarea
      type="text"
      name="inputAdText"
      [(ngModel)]="inputAdText"
      id="inputAdText"
      rows="5"
      placeholder="e.g. Rev up your winter readiness with an exclusive offer – 50% off on Winter Tyres! Ensure a safe and smooth journey through the chilly months with top-notch traction and performance. Don't let winter catch you off guard – seize this limited-time opportunity to equip your vehicle with high-quality winter tyres at half the price. "
    >
    </textarea>
  </div>
  <div class="input-media">
    <label for="inputMedia">Media Info</label>
    <textarea
      type="text"
      name="inputMedia"
      [(ngModel)]="inputMedia"
      id="inputMedia"
      rows="5"
      placeholder="e.g. Create a visually compelling image for our 50% off Winter Tyres promotion by capturing the essence of winter readiness. Utilize cool, wintry tones such as blues and whites to evoke a sense of crisp, snowy landscapes. Incorporate imagery of a vehicle equipped with winter tyres navigating through snow-covered roads, highlighting the enhanced traction and safety."
    >
    </textarea>
  </div>
  <div class="urlCta">
    <div class="input-url">
      <label for="inputUrl">Campaign URL</label>
      <input
        type="text"
        name="inputUrl"
        [(ngModel)]="inputUrl"
        id="inputUrl"
        placeholder="e.g. www.pekkascar.com  Take this offer!"
      />
    </div>
    <div class="inputCTA">
      <p-dropdown
        [options]="ctas"
        name="adCTA"
        [(ngModel)]="targetCTA"
        optionLabel="name"
        [showClear]="true"
        placeholder="Select CTA"
      ></p-dropdown>
    </div>
  </div>
  <h4>Contact regarding this campaign</h4>
  <div class="inputContact">
    <div class="inputContactEmail">
      <p-radioButton
        name="inputContactEmail"
        value="{{ auth.getLogin()?.email }}"
        [(ngModel)]="inputContact"
        inputId="inputContactEmail"
      ></p-radioButton>
      <label for="inputContactEmail" class="ml-2">{{
        auth.getLogin()?.email
      }}</label>
    </div>
    <div class="inputContactPhone">
      <p-radioButton
        name="inputContactPhone"
        value="{{ auth.getLogin()?.phone }}"
        [(ngModel)]="inputContact"
        inputId="inputContactPhone"
      ></p-radioButton>
      <label for="inputContactPhone" class="ml-2">{{
        auth.getLogin()?.phone
      }}</label>
    </div>
    <div class="inputContactOther">
      <label for="contactOther" class="ml-2">Other:</label>
      <input
        inputId="inputContactOther"
        type="text"
        name="inputContactOther"
        pInputText
        [(ngModel)]="inputContact"
        (click)="resetRadioButtons()"
      />
    </div>
  </div>

  <div class="input-other">
    <label for="inputOther">More Info</label>
    <textarea
      type="text"
      name="inputOther"
      [(ngModel)]="inputOther"
      id="inputOther"
      rows="3"
      placeholder="e.g. Contact me via pekkascar@hotmail.com. Not on the weekends. Keep up the good work! Don't hesitate to ask anything."
    >
    </textarea>
  </div>
  <input type="submit" value="Save Campaign" class="btn-campaign-save" />
</form>
