form {
  margin: 15px 25px;
  flex-wrap: wrap;
}

input,
textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

label {
  margin-bottom: 10px;
}

.budget-date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-campaign-save {
  width: 20%;
}

::placeholder {
  color: rgb(178, 178, 178);
  opacity: 1; /* Firefox */
  font-style: italic;
}

.input-adTarget {
  display: flex;
  justify-content: space-between;
}

.adGender {
  display: flex;
  flex-direction: column;
}

.urlCta {
  display: flex;
  flex-direction: column;
}

h4 {
  margin-top: 60px;
  border-bottom: 2px solid black;
}

.inputContact,
.input-company {
  display: flex;
  justify-content: space-between; /* Asettaa elementit yhtä kauas toisistaan */
  align-items: center; /* Keskitä elementit pystysuunnassa */
  margin-top: 20px;
}

.inputContactEmail,
.inputContactPhone,
.inputContactOther,
.inputCompanyRadio {
  display: flex;
  align-items: center;
}

.input-company,
.input-name {
  width: 45%; /* Säädä divien leveyksiä tarpeen mukaan */
}
