.header-container {
  background-color: rgb(136, 112, 167);
  height: 12.05vh;
}

.header-container h1 {
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
  margin: 0;
  top: 50%;
}

.ms-logo {
  position: absolute; /* Aseta kiinteä sijainti */
  top: 25px; /* Aseta yläreunaan 10 pikseliä */
  left: 40px; /* Aseta vasempaan reunaan 10 pikseliä */
  z-index: 999;
  height: 90px;
}
@media screen and (max-width: 600px) {
  .ms-logo {
    height: 40px;
    left: 15px;
  }

  .header-container h1 {
    color: aliceblue;

    padding-top: 30px;
    margin: 0;

    font-size: medium;
  }
}
