<div
  class="bg-white p-4 max-h-screen overflow-y-scroll text-black border-orange-300 rounded-lg"
>
  <div
    *ngIf="campaignData.adstatus === 'N'"
    class="text-end cursor-pointer transition ease-in-out hover:text-lime-700"
    (click)="toggleEdit()"
  >
    <i class="text-gray-950 pi pi-pencil mr-2"></i>
    <span>EDIT</span>
  </div>
  <div class="creator flex">
    <p class="w-1/3 font-medium text-lg">Creator:</p>
    <p class="w-2/3 text-lg">{{ campaignData.creator }}</p>
  </div>
  <div class="contact flex m-auto mb-10">
    <p class="w-1/3 font-medium text-lg">Contact:</p>
    <p class="w-2/3 text-lg">{{ campaignData.adcontact }}</p>
  </div>

  <h2 class="">General Information</h2>

  <table class="min-w-full mb-10 border-2 border-gray-400 rounded-xl">
    <tr>
      <th class="text-left w-2/5 pl-4 py-6 font-normal">
        Name of the company:
      </th>
      <td *ngIf="!edit" class="py-6 text-lg">{{ campaignData.company }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.company"
          class="border-solid border-2 rounded-md border-gray-300 p-2"
          type="text"
          placeholder="{{ campaignData.company }}"
        />
      </td>
    </tr>
    <tr class="mb-4">
      <th class="text-left w-2/5 pl-4 py-6 font-normal">
        Name of the campaign:
      </th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.name }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.name"
          class="border-solid border-2 rounded-md border-gray-300 p-2"
          type="text"
          placeholder="{{ campaignData.name }}"
        />
      </td>
    </tr>

    <!-- PAYER -->

    <tr *ngIf="campaignData.adType" class="mb-4">
      <th class="text-left w-2/5 pl-4 py-6 font-normal">Payer:</th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.adpayer }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adpayer"
          class="border-solid border-2 rounded-md border-gray-300 p-2"
          type="text"
          placeholder="{{ campaignData.adpayer }}"
        />
      </td>
    </tr>

    <!-- BUDGET -->

    <tr *ngIf="campaignData.adType" class="mb-4">
      <th class="text-left w-2/5 pl-4 py-6 font-normal">Budget:</th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.adbudget }} €</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adbudget"
          class="border-solid border-2 rounded-md border-gray-300 p-2"
          type="text"
          placeholder="{{ campaignData.adbudget }}"
        />
      </td>
    </tr>

    <!-- DURATION -->

    <tr *ngIf="campaignData.adType" class="mb-4">
      <th class="text-left w-2/5 pl-4 py-6 font-normal">Duration:</th>
      <td *ngIf="!edit" class="py-6">
        {{ campaignData.adstart | date : "dd.MM.yyyy" }} -
        {{ campaignData.adend | date : "dd.MM.yyyy" }}
      </td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adstart"
          class="border-solid border-2 rounded-md border-gray-300 p-2"
          type="text"
          placeholder="{{ campaignData.adstart | date : 'dd.MM.yyyy' }}"
        />
      </td>

      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adend"
          class="border-solid border-2 rounded-md border-gray-300 p-2"
          type="text"
          placeholder="{{ campaignData.adend | date : 'dd.MM.yyyy' }}"
        />
      </td>
    </tr>
  </table>

  <h2 *ngIf="campaignData.adType">Demographic Information</h2>

  <table
    *ngIf="campaignData.adType"
    class="min-w-full mb-10 border-gray-400 border-2 rounded-md"
  >
    <tr>
      <th class="text-left w-2/5 pl-4 py-6 font-normal">
        Target age and gender:
      </th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.adtarget }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adtarget"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.adtarget }}"
        />
      </td>
    </tr>
    <tr>
      <th class="text-left w-2/5 pl-4 py-6 font-normal">Target area:</th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.adarea }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adarea"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.adarea }}"
        />
      </td>
    </tr>
  </table>

  <h2>Campaign Information</h2>

  <table class="min-w-full mb-10 border-gray-400 border-2 rounded-xl">
    <tr *ngIf="campaignData.adType">
      <th class="text-left w-2/5 pl-4 py-6 font-normal">
        Title for the campaign:
      </th>
      <td *ngIf="!edit" class="py-6">"{{ campaignData.adtitle }}"</td>
      <td *ngIf="edit" class="min-w-full">
        <input
          [(ngModel)]="editedData.adtitle"
          rows="5"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.adtitle }}"
        />
      </td>
    </tr>
    <tr>
      <th class="text-left w-2/5 pl-4 py-6 font-normal">
        Copytext for the Campaign:
      </th>
      <td *ngIf="!edit" class="py-6">"{{ campaignData.adtext }}"</td>
      <td *ngIf="edit" class="min-w-full">
        <textarea
          rows="10"
          [(ngModel)]="editedData.adtext"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.adtext }}"
        >
        </textarea>
      </td>
    </tr>
    <tr>
      <th class="text-left w-2/5 pl-4 py-6 font-normal">Media info:</th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.mediainfo }}</td>
      <td *ngIf="edit" class="min-w-full">
        <input
          [(ngModel)]="editedData.mediainfo"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.mediainfo }}"
        />
      </td>
    </tr>
    <tr>
      <th class="text-left w-2/5 pl-4 py-6 font-normal">Url:</th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.adurl }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adurl"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.adurl }}"
        />
      </td>
    </tr>
    <tr *ngIf="campaignData.adType">
      <th class="text-left w-2/5 pl-4 py-6 font-normal">CTA:</th>
      <td *ngIf="!edit" class="py-6">{{ campaignData.adcta }}</td>
      <td *ngIf="edit">
        <input
          [(ngModel)]="editedData.adcta"
          class="border-solid border-2 rounded-md border-gray-300 p-2 min-w-full"
          type="text"
          placeholder="{{ campaignData.adcta }}"
        />
      </td>
    </tr>
  </table>
  <button *ngIf="edit" (click)="cancelChanges()">Cancel</button>
  <button
    *ngIf="edit"
    (click)="saveChanges()"
    class="bg-green-600 p-2 text-white rounded mb-20 transition ease-in-out hover:scale-125 drop-shadow-md ml-4"
  >
    Save Changes
  </button>
</div>
