<div class="bg-white p-10 max-h-screen overflow-y-scroll">
  <div class="creator">
    <p class="creator-title">Campaign Creator:</p>
    <p class="creator-name">{{ campaignData.creator }}</p>
  </div>
  <div class="contact">
    <p class="contact-title">Campaign Contact:</p>
    <p class="contact-info">{{ campaignData.adcontact }}</p>
  </div>

  <h2>General Information</h2>

  <table class="min-w-full mb-10">
    <tr>
      <th class="text-left w-2/5 py-6">Name of the company:</th>
      <td class="py-6">{{ campaignData.company }}</td>
    </tr>
    <tr class="mb-4">
      <th class="text-left w-2/5 py-6">Name of the campaign:</th>
      <td class="py-6">{{ campaignData.name }}</td>
    </tr>
    <tr class="mb-4">
      <th class="text-left w-2/5 py-6">Budget:</th>
      <td class="py-6">{{ campaignData.adbudget }} €</td>
    </tr>
    <tr class="mb-4">
      <th class="text-left w-2/5 py-6">Duration:</th>
      <td class="py-6">
        {{ campaignData.adstart | date : "dd.MM.yyyy" }} -
        {{ campaignData.adend | date : "dd.MM.yyyy" }}
      </td>
    </tr>
  </table>

  <h2>Demographic Information</h2>

  <table class="min-w-full mb-10">
    <tr>
      <th class="text-left w-2/5 py-6">Target age and gender:</th>
      <td class="py-6">{{ campaignData.adtarget }}</td>
    </tr>
    <tr>
      <th class="text-left w-2/5 py-6">Target area:</th>
      <td class="py-6">{{ campaignData.adarea }}</td>
    </tr>
  </table>

  <h2>Campaign Information</h2>

  <table class="min-w-full mb-10">
    <tr>
      <th class="text-left w-2/5 py-6">Title for the campaign:</th>
      <td class="py-6">"{{ campaignData.adtitle }}"</td>
    </tr>
    <tr>
      <th class="text-left w-2/5 py-6">Copytext for the Campaign:</th>
      <td class="py-6">"{{ campaignData.adtext }}"</td>
    </tr>
    <tr>
      <th class="text-left w-2/5 py-6">Media info:</th>
      <td class="py-6">{{ campaignData.mediainfo }}</td>
    </tr>
    <tr>
      <th class="text-left w-2/5 py-6">Url and CTA:</th>
      <td class="py-6">{{ campaignData.adurl }}</td>
    </tr>
    <tr>
      <th class="text-left w-2/5 py-6">Other info:</th>
      <td class="py-6">{{ campaignData.adother }}</td>
    </tr>
  </table>
</div>
