<div
  class="min-h-full border-2 rounded-lg border-orange-700 mb-10 ml-2 mr-0 lg:mx-32"
>
  <!-- BUTTONS AND SEARCH -->

  <div class="flex flex-col items-center sticky ml-5 mb-2 mt-4">
    <!-- TIME BUTTONS -->

    <div class="flex mb-10">
      <svg
        (click)="getAllCampaigns()"
        class="h-8 w-8 text-red-900 cursor-pointer mt-3 mr-3 transition ease-in-out hover:scale-125"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="23 4 23 10 17 10" />
        <polyline points="1 20 1 14 7 14" />
        <path
          d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"
        />
      </svg>
      <button
        class="{{
          allBtnColor
        }}  text-white drop-shadow-md flex-shrink transition ease-in-out hover:scale-110 hover:bg-green-900 w-16 xxs:w-20 border-2 border-white rounded-xl p-3 mr-4"
        (click)="getAllButton()"
      >
        All
      </button>
      <button
        class="{{
          pastBtnColor
        }} text-white drop-shadow-md transition ease-in-out hover:scale-110 hover:bg-green-900 pi pi-backward  w-16 xxs:w-28 border-2 border-white p-3 rounded-s-3xl"
        (click)="getPastCampaigns()"
      ></button>
      <button
        class="{{
          currentBtnColor
        }} text-white drop-shadow-md transition ease-in-out hover:scale-110 hover:bg-green-900 pi pi-play w-16  xxs:w-28 border-t-2 border-b-2 border-white p-3"
        (click)="getCurrentCampaigns()"
      ></button>
      <button
        class="{{
          upcomingBtnColor
        }} text-white drop-shadow-md transition ease-in-out hover:scale-110 hover:bg-green-900 w-16 pi pi-forward xxs:w-28 border-2 border-white p-3 rounded-e-3xl"
        (click)="getUpcomingCampaigns()"
      ></button>
      <span class="mr-2 p-3">{{ campaignsSize }} kpl</span>
    </div>

    <!--  SEARCH -->

    <form [formGroup]="searchForm" class="flex w-4/5 m-auto justify-center">
      <i class="mt-3 fa fa-search font-light" aria-hidden="true"></i>
      <input
        type="text"
        placeholder="Search Campaign by name"
        class="w-64 p-2 pl-9 rounded rounded-r-none text-gray-600"
        #filter
      />
      <button
        type="submit"
        class="bg-slate-400 p-2 rounded-r text-white outline-none outline-0"
        (click)="filterResults(filter.value)"
      >
        Search
      </button>
    </form>
  </div>

  <!--  TABLE -->

  <div class="flex justify-start mt-10 overflow-x-auto">
    <table
      class="min-w-full p-6 left-0 table-layout: fixed; border-separate text-center"
    >
      <thead>
        <tr>
          <th class="w-1/6">COMPANY</th>
          <th class="w-1/6">NAME</th>
          <th class="w-1/6">START</th>
          <th class="w-1/6">END</th>
          <th class="w-1/6">BUDGET</th>
          <th class="w-1/10">STATUS</th>
          <th class="w-1/10"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let campaign of filteredCampaigns"
          class="even:bg-blue-100 odd:bg-white h-20 align-middle cursor-pointer"
        >
          <td (click)="campaign._id && openDialog(campaign._id)">
            {{ campaign.company }}
          </td>
          <td (click)="campaign._id && openDialog(campaign._id)">
            {{ campaign.name }}
          </td>
          <td (click)="campaign._id && openDialog(campaign._id)">
            {{ campaign.adstart | date : "dd.MM.yyyy" }}
          </td>
          <td (click)="campaign._id && openDialog(campaign._id)">
            {{ campaign.adend | date : "dd.MM.yyyy" }}
          </td>
          <td (click)="campaign._id && openDialog(campaign._id)">
            {{ campaign.adbudget }} €
          </td>
          <td>
            <i
              [ngClass]="{ 'cursor-pointer': isAdmin && campaign._id }"
              (click)="isAdmin && campaign._id && toggleStatus(campaign._id)"
              class="pi {{
                campaign.adstatus === 'Y' ? 'pi-check-circle' : 'pi-circle'
              }} mx-2"
              style="color: {{
                campaign.adstatus === 'Y' ? 'green' : 'red'
              }}; font-size: 1.5rem;"
            ></i>
          </td>
          <td>
            <ng-container
              *ngIf="isAdmin || (!isAdmin && campaign.adstatus === 'N')"
            >
              <i
                mat-button
                (click)="sureDialog(campaign._id)"
                class="text-red-500 m-auto cursor-pointer pi pi-delete-left text-xl mx-4"
              ></i>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="w-full mt-4 text-center">
    <p class="text-center mb-16" *ngIf="campaignsSize === 0">
      {{ emptyCampaigns }}
    </p>
  </div>
</div>
