<div class="border-2 rounded-lg border-black">
  <!-- BUTTONS AND SEARCH -->

  <div class="flex flex-col items-center sticky mb-2 mt-4">
    <!-- TIME BUTTONS -->

    <div class="flex mb-10 mr-5">
      <button
        class="{{
          allBtnColor
        }} text-white hover:bg-green-900 w-16 border-2 border-white rounded-xl p-3 mr-4"
        (click)="getAllButton()"
      >
        All
      </button>
      <button
        class="{{
          pastBtnColor
        }} text-white hover:bg-green-900 w-28 border-2 border-white p-3 rounded-s-3xl"
        (click)="getPastCampaigns()"
      >
        Past
      </button>
      <button
        class="{{
          currentBtnColor
        }} text-white hover:bg-green-900 w-28 border-t-2 border-b-2 border-white p-3"
        (click)="getCurrentCampaigns()"
      >
        Current
      </button>
      <button
        class="{{
          upcomingBtnColor
        }} text-white hover:bg-green-900 w-28 border-2 border-white p-3 rounded-e-3xl"
        (click)="getUpcomingCampaigns()"
      >
        Upcoming
      </button>
      <span class="mr-2 p-3">0kpl</span>
    </div>

    <!--  SEARCH -->

    <div class="w-full max-w-lg">
      <span class="absolute mt-1.5 mx-3"
        ><i class="fa fa-search font-light" aria-hidden="true"></i
      ></span>
      <input
        type="text"
        placeholder="Search Campaign"
        class="w-96 p-2 pl-9 rounded rounded-r-none text-gray-600"
      />
      <button
        class="bg-slate-400 p-2 rounded-r text-white outline-none outline-0"
      >
        Search
      </button>
    </div>
  </div>

  <!--  TABLE -->

  <div class="flex xxs:justify-start justify-center mt-10 overflow-x-auto h-64">
    <table
      class="min-w-full table-layout: auto; border-separate [border-spacing:2rem] text-center"
    >
      <thead>
        <tr>
          <th class="w-1/6">COMPANY</th>
          <th class="w-1/6">NAME</th>
          <th class="w-1/6">START</th>
          <th class="w-1/6">END</th>
          <th class="w-1/6">BUDGET</th>
          <th class="w-1/6">STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campaign of filteredCampaigns">
          <td>{{ campaign.company }}</td>
          <td>{{ campaign.name }}</td>
          <td>{{ campaign.adstart | date : "dd.MM.yyyy" }}</td>
          <td>{{ campaign.adend | date : "dd.MM.yyyy" }}</td>
          <td>{{ campaign.adbudget }} €</td>
          <td>{{ campaign.adstatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
