<div class="timebuttons">
  <p-button
    [raised]="true"
    [severity]="pastColor ? 'success' : 'secondary'"
    (click)="onPast()"
    >Past
  </p-button>
  <p-button
    [raised]="true"
    [severity]="currentColor ? 'success' : 'secondary'"
    (click)="onCurrent()"
    >Current</p-button
  >
  <p-button
    [raised]="true"
    [severity]="upcomingColor ? 'success' : 'secondary'"
    (click)="onUpcoming()"
    >Upcoming</p-button
  >
  <h3 class="tableSize">{{ size }} kpl</h3>
</div>

<table class="campaigns-table">
  <tr>
    <th>COMPANY</th>
    <th>NAME</th>
    <th>START</th>
    <th>END</th>
    <th>BUDGET</th>
    <th>STATUS</th>
  </tr>
  <tr *ngFor="let campaign of filteredCampaigns" class="datarows">
    <td (click)="campaign.id && openDialog(campaign.id)">
      {{ campaign.company }}
    </td>
    <td (click)="campaign.id && openDialog(campaign.id)">
      {{ campaign.name }}
    </td>
    <td (click)="campaign.id && openDialog(campaign.id)">
      {{ campaign.adstart | date : "dd.MM.yyyy" }}
    </td>
    <td (click)="campaign.id && openDialog(campaign.id)">
      {{ campaign.adend | date : "dd.MM.yyyy" }}
    </td>
    <td (click)="campaign.id && openDialog(campaign.id)">
      {{ campaign.adbudget }} €
    </td>
    <td class="status" (click)="campaign.id && toggleStatus(campaign.id)">
      <i
        class="pi {{
          campaign.adstatus === 'Y' ? 'pi-check-circle' : 'pi-circle'
        }}"
        style="color: {{
          campaign.adstatus === 'Y' ? 'green' : 'red'
        }}; font-size: 1.5rem;"
      ></i>
    </td>
    <td>
      <i
        (click)="campaign.id && deleteCampaign(campaign.id)"
        class="pi pi-delete-left"
        style="
          color: red;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
      </i>
    </td>
  </tr>
</table>

<p *ngIf="noCampaigns" class="noCampaigns">{{ emptyCampaigns }}</p>

<app-campaign-dialog
  *ngIf="showWholeCampaign"
  [ngStyle]="{
    'background-color': showWholeCampaign ? upcomingColor : 'transparent'
  }"
  [campaignData]="campaignData"
  class="dialog-container"
></app-campaign-dialog>
