.footer-box {
  background-color: rgb(136, 112, 167);
  text-align: center;
}

.footer-box p {
  margin: 0; /* Nollaa mahdollinen oletusmarginaali */
  border: none; /* Poista mahdollinen oletusreuna */
}
