<div *ngIf="componentToShow == 'logregister'">
  <app-login
    (onSubmitLoginEvent)="onLogin($event)"
    (onSubmitRegisterEvent)="onRegister($event)"
  >
  </app-login>

  <p class="login-to-see">Login to see your content</p>
</div>

<div class="content">
  <div class="scheduler-container" *ngIf="componentToShow == 'data'">
    <div class="welcome">
      <p-button [raised]="true" severity="danger" (click)="logOut()"
        >Log out</p-button
      >
      <h3>Hello {{ auth.getLogin()?.login }}!</h3>
    </div>

    <app-add-campaign></app-add-campaign>
    <div class="campaign-container">
      <app-campaigns></app-campaigns>
    </div>
    <div class="legends">
      <div class="legend">
        <i class="pi pi-circle" style="color: red; font-size: 1.5rem"> </i>
        <p>Marketing agency hasn't done the campaign yet</p>
      </div>
      <div class="legend">
        <i
          class="pi pi-check-circle"
          style="color: green; font-size: 1.5rem"
        ></i>
        <p>Marketing agency has done the campaign</p>
      </div>
      <div class="legend">
        <i class="pi pi-delete-left" style="color: red; font-size: 1.5rem"></i>
        <p>Delete campaign. You can only delete campaigns that aren't done</p>
      </div>
    </div>
  </div>
  <div *ngIf="auth.getLogin()?.login == 'admin' && componentToShow == 'data'">
    <div class="users-container">
      <app-users></app-users>
    </div>
  </div>
</div>
